[defaults]
inventory = ./inventory/hosts
host_key_checking = False
timeout = 30
gather_facts = True
stdout_callback = default
result_format = yaml
deprecation_warnings = False

[ssh_connection]
pipelining = True